:root {
  --background-color: #eeede7;
  --primary-color: #15c766;
  --primary-hover-color: #0de06c;
  --text-main-gray: #666;
  --text-gray: #b7bfc9;
  --card-background: #fff;
  --input-border: #d5d3ed;
  --accent-color: #aaacd9;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.todo-app {
  max-width: 350px;
  width: 100%;
  background: var(--card-background);
  padding-bottom: 3rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  position: relative;
}

.date-header {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 4px solid var(--background-color);
  padding: 1.25rem;
}

.month-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--text-main-gray);
}

.date-text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--accent-color);
  margin-top: 0.5rem;
}

.task-content {
  position: relative;
  padding: 1rem;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.task-title {
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: var(--text-main-gray);
  transition: all 0.3s ease;
  user-select: none;
}

.completed .task-title {
  text-decoration: line-through;
  color: var(--text-gray);
}

.status-icon {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-gray);
}

.status-icon:hover {
  color: var(--primary-color);
}

.status-icon > svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
}

.completed .status-icon {
  color: var(--primary-color);
}

.add-task-input {
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--input-border);
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  box-sizing: border-box;
}
.add-task-input::placeholder {
  color: var(--accent-color);
  opacity: 1;
}

.add-button {
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.add-button:hover {
  background: var(--primary-hover-color);
}
